<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <center>
        <h1>Books</h1>
            {% for i in books %}
                <li>
                    <h2>{{ i.title }}</h2>
                    <p><em>{{ i.description }}</em></p>
                    <p><em>{{ i.cost }}</em></p>
                    <p>hello</p>
                    <img src="{{ i.image.url }}" alt="{{ i.title }}">
                    <p><strong>{{ i.created_at }}</strong></p>
                </li>
            {% endfor %}
    </center>
</body>
</html>