{% include 'books/header.html' %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
   <center><h1>Детальная информация</h1></center>
    <h2>Название: {{ book_key.title }}</h2>
    <div class="details">
        <div class="img_detail">
    <img  src="{{ book_key.image.url }}"  alt="{{ book_key.title }}">
        </div>
        <div class="details_desc">
            {{ book_key.description }}
             <p>{{ book_key.actuality }}</p>
    <iframe src="{{book_key.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    <p>{{ book_key.created_at }}</p>

        </div>
    </div>

    <br>
    <h2>Комментарии:</h2>
    <table>
         {% for i in book_key.review_object.all %}
    <tr>
        <td>{{i.created_at}}</td> <td>{{i.text_review}}</td> <td>{{i.rate_stars}}</td>
    </tr>
    {% endfor %}
    </table>

</body>
</html>

{% include 'books/footer.html' %}
