{% include 'header.html' %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
   <center><h1>Детальная информация</h1></center>
    <h2>Название: {{ object.title }}</h2>
    <div class="details">
        <div class="img_detail">
    <img  src="{{ object.image.url }}"  alt="{{ object.title }}">
        </div>
        <div class="details_desc">
            {{ object.description }}
             <p>{{ object.actuality }}</p>
             <p>Цена: {{object.cost}} $</p>
    <iframe src="{{object.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>

    <p>{{ object.created_at }}</p>
            <button class="detail_btn"><a href="/book_list/{{ object.id }}/update/" >Изменить</a></button>
            <button class="delete_btn"><a href="/book_list/{{ object.id }}/delete/" >Удалить</a></button>
        </div>
    </div>

    <br>
    <h2>Комментарии:</h2>
    <table>
         {% for i in object.review_object.all %}
    <tr>
        <td>{{i.created_at}}</td> <td>{{i.text_review}}</td> <td>{{i.rate_stars}}</td>
    </tr>
    {% endfor %}
    </table>

</body>
</html>

{% include 'footer.html' %}
