{% include 'header.html' %}

    <main>
        <h1 class="title_main">Books & Games</h1>
        <section class="books" >

            {% for i in book_key %}
            <div class="book">
                <div class="book_image">
                <img src="{{ i.image.url }}" alt="{{ i.title }}">
                </div>
                <div class="book_info">
                    <h3>{{ i.title }}</h3>
                    <p>{{ i.description }}</p>
                    <a href="/book_detail/{{i.id}}">
                        <button class="detail_btn">
                            Подробнее
                        </button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>

{% include 'footer.html' %}

