*{
box-sizing:border-box;
}

.books{
display:flex;
flex-wrap:wrap;
justify-content: space-around
}

.book{
margin: 10px;
width: 30%;
padding: 10px;
border: 1px solid gray;
border-radius: 5px;
box-shadow: 10px -5px 8px 0px rgba(34, 60, 80, 0.2);
}

.detail_btn{
cursor: pointer;
padding: 10px;
border:none;
border-radius: 5px;
background-color: #2d2d9a;
font-weight: bold;
color: #fff;
}

.delete_btn{
cursor: pointer;
padding: 10px;
border:none;
border-radius: 5px;
background-color: #d91414;
font-weight: bold;
color: #fff;
}
.book_image{
width:100%}

img{
width:100% !important;
}

.title_main{
margin: 10px;
}

table, table td{
border:1px solid gray;
}

td{
padding: 10px}

.img_detail{
width: 100%}

.details_desc{
padding: 10px
}

.details{
display: flex;
padding: 10px
}

footer{
margin-top: 30px;
position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}